@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "PP Mori", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer)px;
  -webkit-text-stroke-color: --value(--color-*);
}