---
import { langData } from "../private/data"

const data = langData(Astro.request)

import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import { Han } from "../components/solid/Han.tsx"

import HanContent from "../components/HanContent.md"

import "../styles/han/font.css"
import TwitterImage from "../private/han-twitter.png"
---

<Layout
  title="CJK Han Character Comparison Tool"
  description="Compare how the same Han character is displayed differently between Hong Kong, Japan, Korea, Mainland China and Taiwan"
  metaDescription="Tool to visually compare how the same Han character is displayed differently between Hong Kong, Japan (Kanji), Korea (Hanja), Mainland China (Hanzi) and Taiwan in your browser"
  image={TwitterImage.src}
  imageAlt="Han Comparison: Compare CJK characters between different regions in your browser"
>
  <Header
    title="Han character comparison tool"
    description="Compare CJK character between regions"
  />
  <Han langData={data} client:load />
  <div class="prose prose-neutral my-24 max-w-full">
    <HanContent />
  </div>
</Layout>

<style is:global>
  .bg-triangle {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iODYiIHZpZXdCb3g9IjAgMCAyNSA4NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI1IDBMMTIuNSA4NkwwIDBMMjUgMFoiIGZpbGw9IiMwRjE3MkEiLz4KPC9zdmc+Cg==);
  }
</style>
