---
---

<a
  rel="noreferrer noopener"
  target="_blank"
  class="underline decoration-stone-300 underline-offset-2 decoration-2 transition hover:decoration-current"
  {...Astro.props}
>
  <slot />
</a>
