---
import Anchor from "./Anchor.astro"
---

<footer class="mt-16 mb-8 flex justify-between text-stone-500">
  <p>&copy; 2024 <Anchor href="https://yschung.org">YS Chung</Anchor></p>
  <Anchor href="https://github.com/ys-chung/tofu">Source Code</Anchor>
</footer>
